h1 Add your title and description in box (^^)
a(href='/') Home
br
a(href='/books') List Books

form#form(action='/books/add', method='POST')
  lable Title
  br
  input#input(type='text', name='tl')
  br
  lable Description
  br
  textarea(name='description', form='form', rows='4', cols='50') Enter text here...
  br
  button#bts Add
  