h1 Press delete what a book you want to remove (^_^!)

a(href='/') Home
br
a(href="/books/add") Add Book
br
a(href='/books') List Books
ul
  each title in titles
    li
       span=title.tl
       span &nbsp
       span &nbsp
      
       a(href="/books/delete/" +title.id) Delete