h1 Type your title and description in box to update (^^)
a(href='/') Home
br
a(href='/books') List Books
br
span You are editing book: 
b #{title.tl}
form#form(action='/books/update/:id', method='POST')
  lable Title
  br
  input#input(type='text', name='tl')
  br
  textarea(name='description', form='form', rows='4', cols='50') Enter text here...
  br
  button#bts Press to change
  