h1 Add your title and description in box (^^)
a(href='/') Home
br
a(href='/users') List Users

form#form(action='/users/add', method='POST')
  lable Name
  br
  input#input(type='text', name='name')
  br
  //- lable Description
  //- br
  //- textarea(name='description', form='form', rows='4', cols='50') Enter text here...
  br
  button#bts Add
  